<div class="container">
<div class="form-group row">
<div class="col-md-7">
<div class="col-md-3">
  <label for='task'>Task:</label>
</div>
<div class="col-md-9">
  <input class="width100" type="text" name="task"  [(ngModel)]="obj.Task">
</div>
</div>
</div>
<div class="form-group row">
<div class="col-md-7">
<div class="slidecontainer">
<div class="col-md-3">
<label for='Priority'>Priority:</label>
</div>
<div class="col-md-9">
<input type="range" min="0" max="30" value="10" class="slider" id="myRange" name='Priority' [(ngModel)]="obj.Priority">
</div>
</div>
</div>
</div>
<div class="form-group row">
<div class="col-md-7">
<div class="col-md-3">
<label for='Parent Task'>Parent Task:</label>
</div>
<div class="col-md-9">
<input class="width100" type="text" name="Parent Task" [(ngModel)]="obj.ParentTask">
</div>
</div>
</div>
<div class="form-group row">
<div class="col-md-7">	
<div class="col-md-3">
<label for='Start Date'>Start Date:</label>
</div>
<div class="col-md-9">
<input class="width100" type="text" name="Start Date" [(ngModel)]="obj.StartDate">
</div>
</div>
</div>
<div class="form-group row">
<div class="col-md-7">	
<div class="col-md-3">
<label for='End Date'>End Date:</label>
</div>
<div class="col-md-9">
<input class="width100" type="text" name="End Date" [(ngModel)]="obj.EndDate">
</div>
</div>
</div>
<div class="form-group row">
<div class="col-md-7">	
<div class="buttonDiv">
<button class='btn btn-primary' (click)='UpdateTask()'>Update Task</button>
<button class="btn btn-primary">Reset</button>
</div>
</div>
</div>
</div>